<h1 mat-dialog-title>Unsaved Data</h1>
<div mat-dialog-content>
    <p>There is unsaved data in this page.</p>
    <p>Do you want to loose it and navigate away?</p>
</div>
<div mat-dialog-actions>
    <button color="warn" mat-raised-button [mat-dialog-close]="true">
        Yes
    </button>
    <button color="primary" mat-raised-button [mat-dialog-close]="false" cdkFocusInitial>
        Cancel
    </button>
</div>
