@import '../../../colours.scss';

.nav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a.title {
    color: inherit;
    text-decoration: none;
    font-size: 28px;
}

.nav-is-mobile .nav-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.nav-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    background-color: $background;
}

.nav-is-mobile .nav-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row,
.mat-toolbar-multiple-rows {
    height: 56px;
    min-height: 56px;
}

:host ::ng-deep .nav-container .mat-icon-button .mat-button-focus-overlay {
    background-color: transparent !important;
}

.mat-list-item:focus {
    background: none;
}

.side-nav {
    width: 250px;
}

mat-sidenav {
    background: $light-gray;
}

[mat-list-item] {
    color: $text;
    font-size: 16px;
    font-weight: 400;
    span {
        padding-left: 10px;
    }
    &:first-of-type {
        margin-top: 8px;
    }
}

[mat-menu-item] {
    @extend [mat-list-item];
    color: $gray;
}

.side-nav-content {
    overflow-x: hidden;
    padding: 30px;
}

.active-link {
    color: white;
    background: $primary !important;
}

.spacer {
    flex: 1 1 auto;
}

.public-buttons {
    margin-left: 8px;
}

.font-size-20 {
    font-size: 20px;
}

mat-nav-list {
    padding-top: 0;
}

.sanctuary-title {
    padding: 15px 15px;
    text-align: center;
    font-size: x-large;
    color: $gray;
}

.account-name {
    font-size: 18px;
}
