<div class="nav-container" [class.nav-is-mobile]="mobileQuery.matches">
    <mat-toolbar class="nav-toolbar primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="snav.toggle()">
                <span class="font-size-20"><i class="fa fa-bars"></i></span>
            </button>
            <a routerLink="/" class="title">Rescued</a>
            <span class="spacer"></span>
            <ng-container *ngIf="isAuthenticated">
                <span *ngIf="!mobileQuery.matches" class="account-name">
                    {{ accountFullName }}
                </span>
                <button mat-icon-button [matMenuTriggerFor]="menu" (click)="onLinkClicked()">
                    <span class="font-size-20"><i class="fa fa-user-circle"></i></span>
                </button>
                <mat-menu #menu="matMenu">
                    <a mat-menu-item routerLink="/account">
                        <span><i class="fa fa-lock"></i></span>
                        <span>Account</span>
                    </a>
                    <a mat-menu-item (click)="onLogout()">
                        <span><i class="fa fa-door-open"></i></span>
                        <span>Logout</span>
                    </a>
                </mat-menu>
            </ng-container>
            <ng-container *ngIf="!isAuthenticated">
                <a mat-stroked-button (click)="onLinkClicked()" routerLink="/login" class="public-buttons">Log in</a>
                <a mat-raised-button (click)="onLinkClicked()" routerLink="/signup" class="public-buttons">Sign up</a>
            </ng-container>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="nav-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav
            #snav
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            [opened]="!mobileQuery.matches"
            fixedTopGap="56"
        >
            <mat-nav-list class="side-nav">
                <ng-container *ngIf="isAuthenticated">
                    <div *ngIf="sanctuaryModel" class="sanctuary-title">
                        {{ sanctuaryModel?.name }}
                    </div>
                    <mat-divider *ngIf="sanctuaryModel"></mat-divider>
                    <a
                        *ngIf="accountHasSanctuary"
                        mat-list-item
                        (click)="onLinkClicked()"
                        routerLink="/sanctuary/{{ sanctuaryModel?.id }}"
                        routerLinkActive="active-link"
                    >
                        <span><i class="fa fa-paw"></i></span>
                        <span>Sanctuary</span>
                    </a>
                    <a
                        *ngIf="accountHasNoSanctuary"
                        mat-list-item
                        (click)="onLinkClicked()"
                        routerLink="/sanctuary/create"
                        routerLinkActive="active-link"
                    >
                        <span><i class="fa fa-paw"></i></span>
                        <span>Create Sanctuary</span>
                    </a>
                    <a mat-list-item (click)="onLinkClicked()" routerLink="/settings" routerLinkActive="active-link">
                        <span><i class="fa fa-cog"></i></span>
                        <span>Settings</span>
                    </a>
                </ng-container>
                <a mat-list-item (click)="onLinkClicked()" routerLink="/about" routerLinkActive="active-link">
                    <span><i class="fa fa-info-circle"></i></span>
                    <span>About</span>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="side-nav-content">
            <div [@routeAnimations]="outlet.isActivated ? outlet.activatedRoute : ''">
                <router-outlet #outlet="outlet"></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
