.container {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-action-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        font-size: 16px;
    }
}

.card {
    width: 800px;
}
