<div class="container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Please {{ signup ? 'sign up' : 'login' }}</mat-card-title>
            <mat-card-subtitle>
                <ng-container *ngIf="signup">
                    Choose one of the authentication providers below
                </ng-container>
                <ng-container *ngIf="!signup">
                    Please login using the same authentication provider used when you signed up
                </ng-container>
            </mat-card-subtitle>
        </mat-card-header>
        <!-- <mat-divider [inset]="true"></mat-divider> -->
        <mat-card-content>
            <p>
                You will be redirected to the authentication provider login page. They will identify you and provide us
                with your full name.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="button-action-container">
                <button (click)="loginWithGoogle()" mat-raised-button>
                    <mat-icon svgIcon="google-logo"></mat-icon>
                    Proceed with Google
                </button>
            </div>
        </mat-card-actions>
    </mat-card>
</div>
