<app-card (onCancel)="clear()" (onSave)="save()" title="Sanctuary Details" subtitle="my random subtitle">
    <form [formGroup]="form" (ngSubmit)="save()" #formDirective="ngForm">
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="sanctuaryName" required />
            <mat-error *ngIf="name.invalid">
                <ng-container *ngIf="name.errors.required">Name is required.</ng-container>
            </mat-error>
            <!-- <mat-hint>Enter the sanctuary name</mat-hint> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="sanctuaryEmail" required />
            <mat-error *ngIf="email.invalid">
                <ng-container *ngIf="email.errors.required">Email is required.</ng-container>
                <ng-container *ngIf="email.errors.email">Invalid email address.</ng-container>
            </mat-error>
            <!-- <mat-hint>Enter the sanctuary email</mat-hint> -->
        </mat-form-field>
    </form>
</app-card>
