<mat-card>
    <mat-card-header>
        <mat-card-title>Home works!</mat-card-title>
        <mat-card-subtitle>some notes</mat-card-subtitle>
    </mat-card-header>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small,
            agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
    </mat-card-content>
    <mat-divider [inset]="true"></mat-divider>
    <mat-card-actions>
        <button color="primary" mat-raised-button>LIKE</button>
        <button color="warn" mat-raised-button>SHARE</button>
    </mat-card-actions>
</mat-card>
