<mat-card>
    <mat-card-header>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle *ngIf="subtitle">{{ subtitle }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button (click)="save()" class="primary">Save</button>
        <button color="warn" mat-raised-button (click)="cancel()">Cancel</button>
    </mat-card-actions>
</mat-card>
