@import './colours.scss';

html,
body {
    height: 100%;
    cursor: default;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Material overrides */
mat-form-field {
    display: block !important;
}

.primary {
    color: white;
    background-color: $primary;
}

/* Prevent zoom in on mobile when an input has focus by setting font-size of a minimum 16px */
@media screen and (max-width: 767px) {
    input,
    select,
    textarea {
        font-size: 16px !important;
    }
}
